<div class="row">
<div class="col-md-12" >
<h1>V2 Modelling Students->Subjects->Results</h1>
 <span>How easy is it to represent this as V1? Raw data below</span>
  <hr>
 <div  class="container-fluid"   ng-repeat="x in data" >
    <h3>{{$index+1}}) {{x.name}}</h3>
	 <div  class="container-fluid"   ng-repeat="y in x.subjects" >
		<h4>{{$parent.$index+1}}.{{$index+1}}) {{y.subject}}</h4>
		 <div  class="container-fluid"   ng-repeat="z in y.assessments" >
			<div>{{$parent.$parent.$index+1}}.{{$parent.$index+1}}.{{$index+1}}) {{z.type}} {{z.mark}} {{z.comment}}</div>			
		 </div>	
        <!-- next two values not scaling well -->
		 Average of {{getFinalResult( y.assessments ,'mark').count}} = {{getFinalResult( y.assessments ,'mark').result}}
	 </div>	
 </div>
</div>
</div>
<hr>
V2 Data Model
<pre>
{{data | json}}
</pre>
 